.nav{
    position: fixed;
    width: 100%;
    background-color: white;
    
   
 
  }
  .yan{
    position: fixed;
    background-position:auto;
    -webkit-box-pack: justify;
    background-position:auto;
    margin-left: 700px;
    margin-top: 50px;
    text-decoration: none;
   
   
  }
  .middlearea{
    max-height: 200px !important;
  }
  .cart{
    text-decoration: none;
  }
  .storytext{
    padding: 3px;
    font-size: 13px;
    color: black;
  
   
  }
  .storyphoto{
    height: 60px;
    width: 60px;
    margin-left: 0px;
    border-radius: 80%;
    border: 2px solid rgb(238, 39, 82);

  }
  .story{
    height: 45px;
    width: 45px;
    margin-left: 13px;
    border-radius: 80%;
    border: 2px solid rgb(238, 39, 82);


  }
  .far{
    margin-left: auto;
  }
  .kayıt{
    margin-left: 320px;
  }
  .rightpanel{
    text-decoration: none;
  }
  ::placeholder{
    text-align: center;
    font-size: 14px;
    color: gray;
    background-position: 40%;
    background-size: 6%;
    background-image: url(../assets/search-solid.svg);
    background-repeat: no-repeat;
    padding-left: 10px;
     }
     .postuserfont{
       padding: 5px;
     }
     .card-body {
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      min-height: 1px;
      padding: 1.25rem;
  }
  .panel{
    border: none;
    background-color: white;
    margin-top: 25px;
    
  }
  .rightpanellinks{
    color: gray;
    text-decoration: none;
  
  }
  .lnk{
    margin-left: 18px;
  }
  